<div class="container__home">
  <menu-bar></menu-bar>
  <menu-title></menu-title>
  <div class="container__articles">
    <div class="articles__main">
      <big-card 
        id="1"
        imagePath="https://placehold.co/3840x2160"
        cardTitle="Nova versão do Angular"
        cardDescription="O Angular 17+ foi lançado em julho de 2023.">
      </big-card>
    </div>
    <div class="articles__others">
      <small-card
        id="2"
        imagePath="https://placehold.co/3840x2160"
        cardTitle="Rotas e guardas">
      </small-card>
      <small-card
        id="3"
        imagePath="https://placehold.co/3840x2160"
        cardTitle="Fluxo de dados">
      </small-card>
      <small-card
        id="4"
        imagePath="https://placehold.co/3840x2160"
        cardTitle="Pipes e diretivas">
      </small-card>
    </div>
  </div>
</div>