.container__menu-bar {
  padding: 2rem 0;
  font-size: 1rem;
}

.container__menu-bar > ul {
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li {
  margin-right: 1rem;
  list-style: none;
}