.container__menu-title {
  text-align: center;
}

.container__menu-title > h1 {
  text-transform: uppercase;
  font-size: 10rem;
  font-family: "Righteous", sans-serif;
  border-top: 1px solid #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
}